html {
    height: 100%;
    width: 100%;
}

body {    
    color: darkslategrey;
    background-image: url("TahoeVII.JPG");
    background-repeat: no-repeat;
    background-size: cover;    
} 

#circle {
    border: 1px solid forestgreen;
    background-color: forestgreen;
    height: 100px;
    width: 100px;
    border-radius: 180px;    
}

#container {
    padding: 3% 5% 3% 5%;
    border: 1px solid black;
    background-color: floralwhite;
    border-radius: 5px;
    box-shadow: 5px 9px lightslategray;
}